body {
    font-family: 'Arial', sans-serif;
    background-color: #f7f7f7; 
    margin: 0;
}

center {
    text-align: center;
    padding: 20px;
}

h1 {
    color: #004080; /* Cor do cabeçalho do site da Unimar */
}

table {
    margin-top: 20px;
}

td {
    padding: 20px;
    text-align: center;
}

a {
    text-decoration: none;
}

input[type="button"] {
    background-color: #004080; /* Cor do botão semelhante à do site da Unimar */
    color: #fff;
    border: none;
    padding: 12px 24px;
    cursor: pointer;
    border-radius: 5px; /* Adiciona cantos arredondados */
    font-size: 16px;
    transition: background-color 0.3s ease; /* Adiciona transição suave na mudança de cor */
}

input[type="button"]:hover {
    background-color: #00254d; /* Cor alterada no hover */
}

.container {
    margin-top: 230px;
}